body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header .top-bar {
  background-color: #fff;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
header .top-bar select {
  border: none;
}
header .top-bar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
}
header .top-bar a:last-child {
  margin-right: 0;
}
header .top-bar a:hover {
  color: #0056b3;
}
header .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #f5f5f5;
}
header .main-nav .logo h1 {
  margin: 0;
  font-size: 28px;
  color: #0056b3;
}
header .main-nav .search-bar {
  display: flex;
  align-items: center;
}
header .main-nav .search-bar select {
  color: white;
  background-color: #0056b3;
}
header .main-nav .search-bar select, header .main-nav .search-bar input {
  padding: 8px;
  border: 1px solid #ddd;
  margin-right: 5px;
  font-size: 14px;
}
header .main-nav .search-bar input {
  width: 25vw;
}
header .main-nav .search-bar button {
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
header .main-nav .user-actions a {
  color: #333;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1rem;
}
header .main-nav .user-actions a:last-child {
  margin-right: 0;
}
header .main-nav .user-actions a:hover {
  color: #0056b3;
}
header .sub-nav {
  background-color: #0056b3;
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
}
header .sub-nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
}
header .sub-nav a:hover {
  background-color: #003d80;
}
header .sub-nav a.all-departments {
  padding: 10px 35px;
  background-color: #ffcc00;
  color: #333;
  position: relative;
}
header .sub-nav a.all-departments .sale {
  background-color: red;
  color: #fff;
  padding: 2px 5px;
  font-size: 10px;
  margin-left: 5px;
  position: absolute;
  top: -10px;
  right: -10px;
}
header .sub-nav a.new {
  position: relative;
}
header .sub-nav a.new .new {
  background-color: #ffcc00;
  color: #333;
  padding: 2px 5px;
  font-size: 10px;
  margin-left: 5px;
  position: absolute;
  top: -10px;
  right: -10px;
}
header .sub-nav a.blog {
  background-color: #ffcc00;
  color: #333;
}

.promo-section {
  padding: 20px;
  display: flex;
  gap: 15px;
}
.promo-section .carousel-container {
  flex: 2;
}
.promo-section .carousel-container .carousel-item img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 70vh;
}
.promo-section .carousel-container .carousel-item .carousel-caption {
  position: absolute;
  left: 0;
  top: 70px;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}
.promo-section .carousel-container .carousel-item .carousel-caption h3 {
  font-size: 1rem;
  color: white;
  background-color: blue;
  width: 70px;
  padding: 5px 5px;
  border-radius: 10px;
}
.promo-section .carousel-container .carousel-item .carousel-caption h2 {
  color: black;
}
.promo-section .carousel-container .carousel-item .carousel-caption .learn-more-btn {
  color: black;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid black;
  display: inline-block;
}
.promo-section .right-promo-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.promo-section .right-promo-container .promo-box {
  background-color: #f5f5f5;
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.promo-section .right-promo-container .promo-box h4 {
  font-size: 0.9rem;
  color: blue;
}
.promo-section .right-promo-container .promo-box p {
  font-size: 1.4rem;
  font-weight: bold;
}
.promo-section .right-promo-container .promo-box .common-box {
  display: flex;
  gap: 50px;
  align-items: center;
}
.promo-section .right-promo-container .promo-box .common-box .common-img {
  height: 150px;
  width: 500px;
}
.promo-section .right-promo-container .promo-box .common-box .common-img img {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
}

.features {
  display: flex;
  justify-content: space-between;
  background-color: #2f3c48;
  padding: 20px 20px;
}
.features .feature-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: white;
}
.features .feature-item .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  margin: 10px;
  border: 1px solid orange;
  justify-content: center;
  align-items: center;
}
.features .feature-item h3 {
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
}
.features .feature-item p {
  font-size: 0.9rem;
  margin: 0;
  color: #aaa;
}

.category-carousel-section {
  padding: 20px;
  position: relative;
}
.category-carousel-section .carousel-inner .carousel-item .row {
  display: flex;
  justify-content: space-between;
}
.category-carousel-section .carousel-inner .carousel-item .row .col-md-3 {
  position: relative; /* This ensures the caption is positioned relative to its image */
  padding: 0 10px;
}
.category-carousel-section .carousel-inner .carousel-item .row .col-md-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.category-carousel-section .carousel-inner .carousel-item .row .col-md-3 .carousel-caption.category-caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: auto; /* The caption width adjusts to fit the text */
  max-width: 100%; /* Ensures the caption doesn't exceed the image width */
}
.category-carousel-section .carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.category-carousel-section .carousel-indicators button {
  position: relative;
  top: 60px;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: grey;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.category-carousel-section .carousel-indicators button.active {
  background-color: #007bff;
}

.container-product {
  max-width: auto;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5f5f5;
}
.container-product h2 {
  padding: 10px;
  color: black;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
.container-product p {
  text-align: center;
  font-size: 16px;
  color: rgb(122, 117, 117);
}

.section-title {
  text-align: center;
  font-size: 24px;
}

.section-subtitle {
  text-align: center;
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 30px;
}

.tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.tabs .tab-button {
  padding: 13px;
  background-color: rgb(220, 220, 220);
  font-weight: 500;
  font-size: 16px;
  color: rgb(77, 77, 77);
  border: none;
}
.tabs .tab-button:hover {
  background-color: rgba(0, 0, 255, 0.85);
  color: white;
  font-weight: bolder;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
.product-card .labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.product-card .labels span {
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
}
.product-card .labels span.custom-label {
  background-color: #007bff;
}
.product-card .labels span.discount-label {
  background-color: #dc3545;
}
.product-card .labels span.days-label {
  background-color: #dc3545;
}
.product-card .labels span.top-brand-label {
  background-color: #28a745;
}
.product-card .labels span.pre-order-label {
  background-color: #dc3545;
}
.product-card .labels span.free-label {
  background-color: #28a745;
}
.product-card .product-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.product-card .product-info .brand {
  font-size: 14px;
  color: #6c757d;
}
.product-card .product-info .model {
  font-size: 12px;
  color: #6c757d;
  margin-bottom: 5px;
}
.product-card .product-info .product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-card .product-info .price {
  font-size: 18px;
  font-weight: bold;
  color: #dc3545;
}
.product-card .product-info .price del {
  font-size: 14px;
  color: #6c757d;
  margin-right: 5px;
}
.product-card .product-info .actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .product-info .actions input[type=number] {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}
.product-card .product-info .actions .add-to-cart {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.product-card .product-info .actions .add-to-cart:hover {
  background-color: #0062cc;
}
.product-card .product-info .product-links {
  margin-top: 15px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.product-card .product-info .product-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #007bff;
  text-decoration: none;
  color: black;
}
.product-card .product-info .product-links a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
