// Variables
$primary: #0056b3;
$secondary: #ffcc00;
$text-color: #333;
$background-color: #fff;
$top-bar-bg: #f5f5f5;
$border-color: #ddd;

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

header {
  .top-bar {
    background-color: $background-color;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    select{
        border: none;
    }

    a {
      color: $text-color;
      text-decoration: none;
      margin-right: 20px;
      font-size: 14px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary;
      }
    }
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: $top-bar-bg;

    .logo {
      h1 {
        margin: 0;
        font-size: 28px;
        color: $primary;
      }
    }

    .search-bar {
      // width: 2vw;
      display: flex;
      align-items: center;

      select{
        color: white;
        background-color: $primary;
      }
      select, input {
        padding: 8px;
        border: 1px solid $border-color;
        margin-right: 5px;
        font-size: 14px;
      }

      input{
        width: 25vw;
      }

      button {
        color: $background-color;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
      }
    }

    .user-actions {
      a {
        color: $text-color;
        text-decoration: none;
        margin-right: 15px;
        font-size: 1rem;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .sub-nav {
    background-color: $primary;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;

    a {
      color: $background-color;
      text-decoration: none;
      padding: 5px 10px;
      font-size: 14px;

      &:hover {
        background-color: darken($primary, 10%);
      }

      &.all-departments {
        padding: 10px 35px;
        background-color: $secondary;
        color: $text-color;
        position: relative;

        .sale {
          background-color: red;
          color: $background-color;
          padding: 2px 5px;
          font-size: 10px;
          margin-left: 5px;
          position: absolute;
          top: -10px;
          right: -10px;
        }
      }

      &.new {
        position: relative;

        .new {
          background-color: $secondary;
          color: $text-color;
          padding: 2px 5px;
          font-size: 10px;
          margin-left: 5px;
          position: absolute;
          top: -10px;
          right: -10px;
        }
      }

      &.blog {
        background-color: $secondary;
        color: $text-color;
      }
    }
  }
}

// main
.promo-section {
  padding: 20px;
  display: flex;
  gap: 15px;

  .carousel-container {
    flex: 2;

    .carousel-item {
      img {
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        width: 100vw;
        height: 70vh;
      }

      .carousel-caption {
        // background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 70px;
        text-align: left;
        padding: 20px;
        border-radius: 10px;

        h3 {
          font-size: 1rem;
          color: white;
          background-color: blue;
          width: 70px;
          padding:5px 5px ;
          border-radius: 10px;
        }

        h2 {
          color: black;
        }

        .learn-more-btn {
          color: black;
          border: none;
          padding: 10px 10px;
          cursor: pointer;
          margin-top: 10px;
          border: 2px solid black;
          display: inline-block;

        }
      }
    }
  }

  .right-promo-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .promo-box {
      background-color: #f5f5f5;
      padding: 20px;
      height: auto;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h4{
        font-size: 0.9rem;
        color: blue;
      }
      p{
        font-size: 1.4rem;
        font-weight: bold;
      }
      .common-box{
        display: flex;
        // justify-content: space-between;
        gap: 50px;
        align-items: center;
        .common-img{
          height: 150px;
          width: 500px;
          img {
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
            border-radius: 8px;
          }
        }
        
      }
    }
  }
}



// features
.features {
  display: flex;
  justify-content: space-between;
  background-color: #2f3c48;
  padding: 20px 20px;

  .feature-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: white;
    // flex: 1;

    .icon-container {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      margin: 10px;
      border: 1px solid orange;
      justify-content: center;
      align-items: center;
    }

    h3 {
      font-size: 1.2rem;
      margin: 10px 0 5px 0;
    }

    p {
      font-size: 0.9rem;
      margin: 0;
      color: #aaa;
    }
  }
}

// why buy from us
.category-carousel-section {
  // margin-top: 50px;
  padding: 20px;
  position: relative;

  .carousel-inner {
    .carousel-item {
      .row {
        display: flex;
        justify-content: space-between;

        .col-md-3 {
          position: relative; /* This ensures the caption is positioned relative to its image */
          padding: 0 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
          }

          .carousel-caption.category-caption {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.9);
            padding: 5px 10px;
            border-radius: 10px;
            color: #333;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            width: auto; /* The caption width adjusts to fit the text */
            max-width: 100%; /* Ensures the caption doesn't exceed the image width */
          }
        }
      }
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-left: 0;
    list-style: none;

    button {
      position: relative;
      top: 60px;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: grey;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: #007bff;
      }
    }
  }
}



// products
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;

// body {
//     font-family: Arial, sans-serif;
//     background-color: #f9f9f9;
//     color: #333;
//     margin: 0;
//     padding: 0;
// }

.container-product {
    max-width: auto;
    margin: 40px auto;
    padding: 20px;
    background-color: $top-bar-bg;

    h2{
      padding: 10px;
      color: black;
      font-size: 32px;
      text-align: center;
      font-weight: bold;
    }

    p {
      text-align: center;
      font-size: 16px;
      color: rgb(122, 117, 117);
    }
}

.section-title {
    text-align: center;
    font-size: 24px;
    // margin-bottom: 10px;
}

.section-subtitle {
    text-align: center;
    font-size: 14px;
    color: $secondary-color;
    margin-bottom: 30px;
}

.tabs{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;

  .tab-button{
    padding: 13px;
    background-color: rgb(220, 220, 220);
    font-weight: 500;
    font-size: 16px;
    color: rgb(77, 77, 77);
    border: none;

    &:hover {
      background-color: rgba(0, 0, 255, 0.850);
      color: white;
      font-weight: bolder;
    }
  }
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;

    .labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        span {
            font-size: 12px;
            padding: 5px;
            border-radius: 4px;
            color: #fff;

            &.custom-label {
                background-color: $primary-color;
            }

            // &.hot-label {
            //   color: black;
            //   font-weight: bold;
            //     background-color: $warning-color;
            // }

            &.discount-label {
                background-color: $danger-color;
            }

            &.days-label {
                background-color: $danger-color;
            }

            &.top-brand-label {
                background-color: $success-color;
            }

            &.pre-order-label {
                background-color: $danger-color;
            }

            &.free-label {
                background-color: $success-color;
            }
        }
    }

    .product-image {
        // max-width: 100%;
        // height: auto;
        height: 250px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .product-info {
        .brand {
            font-size: 14px;
            color: $secondary-color;
        }

        .model {
            font-size: 12px;
            color: $secondary-color;
            margin-bottom: 5px;
        }

        .product-name {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .price {
            font-size: 18px;
            font-weight: bold;
            color: $danger-color;

            del {
                font-size: 14px;
                color: $secondary-color;
                margin-right: 5px;
            }
        }

        .actions {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            input[type="number"] {
                width: 50px;
                padding: 5px;
                margin-right: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                text-align: center;
            }

            .add-to-cart {
                background-color: $primary-color;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }
        }

        .product-links {
            margin-top: 15px;
            height: auto;
            display: flex;
            justify-content: space-between;

            a {
                font-size: 0.9rem;
                text-decoration: none;
                color: $primary-color;
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}